<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Yazans Webseite</title>
    <style>
        body{
    font-family: Arial, sans-serif;
    padding: 30px;

    background-image: url("/static/bilder/hintergrund.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  /* Damit Text besser lesbar ist */
  .box{
    background: rgba(255,255,255,0.8);
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
  }
    </style>
</head>
<body>
    <div class="box">
    <h1>Hallo 👋</h1>
    <p>Barcelona reise mit Yazan & Qusay .</p>
  </div>
</body>
</html>